//-
    name: uberuns
    description: Markup for the uberuns block
    arguments:
        - {object} props - block properties

mixin uberuns(props = {})
    .uberuns&attributes(attributes)
        h1.uberuns__title Über <span>Uns
