//-
    name: header
    description: Markup for the header block
    arguments:
        - {object} props - block properties

mixin header(props = {})
    .header&attributes(attributes)
        .header__wrapper
            .container
                .row
                    .col-12.col-md-12.d-flex.col-xl-12
                        .header__inner.d-flex.justify-content-between.align-items-center
                            .header__logo.d-flex.flex-column.align-items-md-center
                                a.header__logo-link(href='#')
                                    +icon('logo__icon').header__logo-icon.d-none.d-md-block
                                    +icon('logo__text').header__logo-text
                            +nav
                    