/**
 * Styles for the contact block.
 */
.contact {

    background-image: url(../../img/bg-Contacts.jpg);
    background-color: red;
    // Selector styles
    // TODO: add code

    // @media queries
    // TODO: add code

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    // TODO: add code

    // BEM modifiers
    // TODO: add code

    color: red;

}

.container {
    max-width: 1650px;
}