//-
    name: cart
    description: Markup for the cart block
    arguments:
        - {object} props - block properties

mixin cart(props = {})
    .cart&attributes(attributes)
        .container
            .cart__header.header
