/**
 * Styles for the blog block.
 */
.blog {

    // Selector styles
    // TODO: add code
    &__start {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-bottom: 70px;
    }

    &__title {
        font-family: 'Bebas Neue', sans-serif;
        font-size: 60px;
        line-height: 60px;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #222222;
    }

    &__main {
        display: flex;
    }

    &__desc {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__name {
        font-family: 'Bebas Neue', sans-serif;
        font-size: 36px;
        line-height: 36px;
        text-transform: capitalize;
        color: #222222;
        padding-top: 70px;
    }

    &__subname {
        font-family: 'Josefin Sans', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 30px;
        color: #222222;
        padding-top: 12px;
    }

    &__info {
        display: flex;
        padding: 70px 77px 0 138px;
    }

    &__data {
        font-family: 'Bebas Neue', sans-serif;
        font-size: 30px;
        line-height: 30px;
        text-transform: capitalize;
        color: #C3AA5B;
    }

    &__photo {
        display: flex;
        justify-content: space-between;
    }

    &__end {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__button {
        font-family: 'Josefin Sans', sans-serif;
        font-style: normal;
        text-align: center;
        font-weight: 600;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        width: 193px;
        height: 45px;
        color: #222222;
        border: 0.8px solid #222222;
        box-sizing: border-box;
        background: transparent;
        margin-top: 70px;
        margin-bottom: 227px;
    }

    // @media queries
    // TODO: add code
    @media only screen and (max-width: 769px) {
        &__start {
            padding-bottom: 73px;
        }

        &__title {
            font-size: 38px;
        }

        &__name {
            padding-top: 64px;
            font-size: 32px;
        }

        &__subname {
            padding-bottom: 70px;
        }

        &__info {

            padding: 70px 86px 0 117px;
        }

        &__button {
            margin-top: 22px;
        }
    }

    @media only screen and (max-width: 426px) {
        &__start {
            padding-bottom: 36px;
        }

        &__title {
            font-size: 30px;
            line-height: 30px;
        }

        &__info {
            padding: 24px 20px;
            position: absolute;
        }

        &__desc {
            display: flex;
            position: relative;
            margin-left: 50px;
            margin-right: 20px;
        }

        &__name {
            font-size: 28px;
            line-height: 28px;
        }

        &__subname {
            padding-top: 4px;
            font-size: 14px;
            line-height: 24px;
            padding-bottom: 65px;
        }

        &__subname:nth-child(2) {
            padding-bottom: 56px;
        }

        &__button {
            margin-top: 0;
        }
    }

    // Pseudo-classes and pseudo-elements
    // TODO: add code
    &__button:hover {
        background-color: #222222;
        color: #fff;
        transition: all .3s ease;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    // Nested selectors
    // TODO: add code

    // BEM elements
    // TODO: add code

    // BEM modifiers
    // TODO: add code
}